@import "tailwindcss";

:root {
  /* Change this to transparent */
  --bg-main: transparent; 
  --text-main: #6b6375;
  --accent-purple: #aa3bff;
}

body {
  margin: 0;
  /* Now the gradients and photos will finally show up! */
  background-color: var(--bg-main); 
  color: var(--text-main);
  font-family: sans-serif;
}